@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

/* Sidebar */
$sidebar-collapsed-width: 5rem;
$sidebar-expanded-width: 260px;
$sidebar-top: calc(3rem - $navbar-padding-y);
